<section>
  <footer>
    <div class="p-10 m-auto max-w-[1200px] text-center">
      <p class="text-gray-600">
        © 2025 NovaStudio. Todos los derechos reservados.
      </p>
      <p class="text-gray-600">
        Desarrollado por <a
          href="https://javierazagra.com"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600 hover:underline">Javier Azagra</a
        >.
      </p>
    </div>
  </footer>
</section>
